<div class="container">
    <br>
    <div class="row">
        <div class="col s12">
            <center>
                <ul class="roundedCorners tabs tab-profile z-depth-1 pink" style="width: 100%;">
                    <li class="tab col s3"> <a class="white-text waves-effect waves-light "
                            href="/b/<%= mainInfo.beatmap_id %>?type=<%= type %>&m=0">Standard </a>
                    </li>
                    <li class="tab col s3"> <a class="white-text waves-effect waves-light "
                            href="/b/<%= mainInfo.beatmap_id %>?type=<%= type %>&m=1">Taiko</a>
                    </li>
                    <li class="tab col s3"> <a class="white-text waves-effect waves-light "
                            href="/b/<%= mainInfo.beatmap_id %>?type=<%= type %>&m=2">Catch The Beat </a>
                    </li>
                    <li class="tab col s3"> <a class="white-text waves-effect waves-light "
                            href="/b/<%= mainInfo.beatmap_id %>?type=<%= type %>&m=3">Mania </a>
                    </li>
                </ul>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <center>
                <ul class="roundedCorners tabs tab-profile z-depth-1 pink center" style="width: 100%;">
                    <li class="tab col s4"> <a class="white-text waves-effect waves-light "
                            href="/b/<%= mainInfo.beatmap_id %>?type=0&m=<%= mode %>">View Vanilla Scores</a>
                    </li>
                    <li class="tab col s4"> <a class="white-text waves-effect waves-light "
                            href="/b/<%= mainInfo.beatmap_id %>?type=1&m=<%= mode %>">View Relax Scores </a>
                    </li>
                    <li class="tab col s4"> <a class="white-text waves-effect waves-light "
                            href="/b/<%= mainInfo.beatmap_id %>?type=2&m=<%= mode %>">View AutoPilot Scores </a>
                    </li>
                </ul>
            </center>
        </div>
    </div>
    <div class="row">
        <div clas="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://assets.ppy.sh/beatmaps/<%= mainInfo.beatmapset_id %>/covers/cover.jpg"
                        style="filter: brightness(50%)">

                    <span class="card-title white-text"><a href="/d/<%= mainInfo.beatmapset_id %>"
                            class="waves-effect waves-light btn pink">Download</a> <br> <%= mainInfo.song_name %></span>
                </div>
            </div>
        </div>
    </div>
    <% if (extraInfo.length > 1) { %>
    <ul class="roundedCorners tabs tab-profile z-depth-1 pink" style="width: 100%;">
        <% extraInfo.forEach(beatmap => { %>
        <li class="tab col s3"> <a class="white-text waves-effect waves-light "
                href="/b/<%= beatmap.id %>?m=<%= mode%>&type=<%= type %>"><%= beatmap.version %> </a>
        </li>
        <% }) %>
    </ul>
    <% } %>

    <h4>
        Leaderboard
    </h4>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Accuracy</th>
                <th>PP</th>
            </tr>
        </thead>

        <tbody>
            <% if (scores && scores.length) { %>
            <% scores.forEach(score => { %>
            <tr>
                <td><a href="/u/<%= score.userid %>"><%= score.username %></a></td>
                <td><%= score.accuracy.toFixed(2) %></td>
                <td><%= score.pp.toLocaleString() %></td>
            </tr>
            <% }) %>
            <% } %>
        </tbody>
    </table>
</div>