<!DOCTYPE html>
<html>
<% let privileges={UserBanned:0,UserPublic:1,UserNormal:2,UserDonor:4,AdminAccessRAP:8,AdminManageUsers:16,AdminBanUsers:32,AdminSilenceUsers:64,AdminWipeUsers:128,AdminManageBeatmaps:256,AdminManageServers:512,AdminManageSettings:1024,AdminManageBetaKeys:2048,AdminManageReports:4096,AdminManageDocs:8192,AdminManageBadges:16384,AdminViewRAPLogs:32768,AdminManagePrivileges:65536,AdminSendAlerts:2<<16,AdminChatMod:2<<17,AdminKickUsers:2<<18,UserPendingVerification:2<<19,UserTournamentStaff:2<<20,AdminCaker:2<<21,AdminViewTopScores:2<<22}; %>

<head>
    <title>
        <%= title %> - Tojiru
    </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/balloon.css">

    <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown();
            $(".dropdown-trigger-two").dropdown();
            $(".dropdown-trigger-leaderboard").dropdown();
            $(".dropdown-trigger-3").dropdown();
            $(".dropdown-trigger-language").dropdown();
            $(document).ready(function () {
                $('.sidenav').sidenav();
            });
        });
    </script>
</head>

<body>
    <nav class="black lighten-2" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Tojiru</a>

            <ul class="left">
                <% if (Boolean(userData.privileges & privileges.AdminAccessRAP)) { %>
                    <li><a href="/admin" style="margin-left: 100px;">Admin Panel</a></li>
                <% } %>
                <li><a class="dropdown-trigger-language" style="margin-left: <% if (Boolean(userData.privileges & privileges.AdminAccessRAP) == false) { %> 100px; <% } %>" data-target="lang" href="#">Language</a>
                </li>
            </ul>
            
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger-leaderboard" data-target="dropdown3" href="#"><%= __('leaderboard')%></a>
                </li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= __('community')%></a></li>
                <li><a class="dropdown-trigger-two" href="#!" data-target="dropdown2"><%= __('help')%></a></li>
                <% if (loggedIn == true) { %>
                <li><a class="dropdown-trigger-3" href="#!" data-target="dropdown-profile"><%= userData.username %></a>
                </li>
                <% } else { %>
                <li><a href="/login"><%= __('login')%></a></li>
                <li><a href="/register"><%= __('register')%></a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/clans"><%= __('clans')%></a></li>
        <li><a href="/top"><%= __('topPlays')%></a></li>
        <li><a href="/keys"><%= __('publicKeys')%></a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="/about"><%= __('about')%></a></li>
        <li><a href="/rules"><%= __('rules')%></a></li>
        <li class="divider"></li>
        <li><a href="/connect"><%= __('switcher')%></a></li>
        <li><a href="/discord"><%= __('discord')%></a></li>
    </ul>
    <ul id="dropdown3" class="dropdown-content">
        <li><a href="/leaderboard/performance"><%= __('performance')%></a></li>
        <li><a href="/leaderboard/score"><%= __('score')%></a></li>
        <li><a href="/leaderboard/relax"><%= __('relax')%></a></li>
        <li><a href="/leaderboard/autopilot"><%= __('autopilot')%></a></li>
    </ul>
    <ul id="lang" class="dropdown-content">
            <li><a href="/en"><img src="/static/img/flags/GB.png" width="15px"> English</a></li>
            <li><a href="/es"><img src="/static/img/flags/ES.png" width="15px"> Español</a></li>
            <li><a href="/de"><img src="/static/img/flags/DE.png" width="15px"> Deutsch</a></li>
            <li><a href="/pl"><img src="/static/img/flags/PL.png" width="15px"> Polska</a></li>
    </ul>
    <% if (loggedIn) { %>
    <ul id="dropdown-profile" class="dropdown-content">
        <li><a href="/u/<%= userData.id %> "><%= __('profile')%></a></li>
        <li><a href="/friends"><%= __('friends')%></a></li>
        <li><a href="/settings"><%= __('settings')%></a></li>
        <li><a href="/logout"><%= __('logout')%></a></li>
    </ul>
    <% } %>
    <!-- end navbar -->
    <% if (id == 0) {%> <% include inc/home.ejs %> <% } %>
    <% if (id == 1) {%> <% include inc/register.ejs %> <% } %>
    <% if (id == 2) {%> <% include inc/verify.ejs %> <% } %>
    <% if (id == 3) {%> <% include inc/leaderboard.ejs %> <% } %>
    <% if (id == 4) {%> <% include inc/scoreboard.ejs %> <% } %>
    <% if (id == 5) {%> <% include inc/userpage.ejs %> <% } %>
    <% if (id == 6) {%> <% include inc/about.ejs %> <% } %>
    <% if (id == 7) {%> <% include inc/rules.ejs %> <% } %>
    <% if (id == 8) {%> <% include inc/login.ejs %> <% } %>
    <% if (id == 9) {%> <% include inc/userNotFound.ejs %> <% } %>
    <% if (id == 10) {%> <% include inc/pageNotFound.ejs %> <% } %>
    <% if (id == 11) {%> <% include inc/beatmaps.ejs %> <% } %>
    <% if (id == 12) {%> <% include inc/scoresTop.ejs %> <% } %>
    <% if (id == 13) {%> <% include inc/pubKeys.ejs %> <% } %>
    <% if (id == 14) {%> <% include inc/beatmapListing.ejs %> <% } %>
    <% if (id == 15) {%> <% include inc/admin404.ejs %> <% } %>

    <% if (id > 99) { %> <% include extra/topbar.ejs %> <% } %>
    <% if (id == 100) {%> <% include inc/adminHome.ejs %> <% } %>
    <% if (id == 101) {%> <% include inc/rankMaps.ejs %> <% } %>
    <% if (id == 102) {%> <% include inc/adminUsersList.ejs %> <% } %>
    <% if (id == 110) {%> <% include inc/adminBetaKeys.ejs %> <% } %>
    <% if (id > 99) { %> </div> <% } %>
</body>

</html>
